*{
    margin: 0;
    padding: 0;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

header{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid; */
    text-align: center;
    align-items: center;
    background-color:#F8F8F8;
}
header>p{
    margin-left: 20px;
}
header>hr{
    height: 30px;
    margin-left: 20px;
    border-color: #F8F8F8;
}
header > img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: scale-down;
    margin-left: 20px;
}
header>img+hr{
    margin-right: 150px;

}

nav{
    width: 100%;
    background-color: #2d2d2d;
    /* padding: 10px; */
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
nav>a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px 20px;
}
nav>#nav-logo{
    font-size: 2.2rem;
    font-weight: 900;
}
nav>hr{
    height: 60px;
    border-color: #F8F8F8;
    margin: 0px 10px;

}
nav >img{
    width: 25px;
    mix-blend-mode:screen;
    margin: 0px 10px;

}
nav > #searchbar{
    background-color: white;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > #searchbar>img{
    width: 20px;
    padding: 20px;
}
nav > #searchbar>p{
    padding: 20px;
    font-size: 0.9rem;
    color: grey;
}
#discount-banner{
    width: 100%;
    text-align: center;
    background-color: #9CF0E0;
}
#discount-banner>p{
    color: black;
    font-weight: bolder;
    word-spacing: 5px;
    line-height: 1.2;
}

#home-page-image{
    width: 95%;
    height: auto;
    margin: auto;
    position: relative;
}
#home-page-image>img{
    width: 100%;
}
#image-center-elements{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#image-center-elements>h1{
    background-color: black;
    color: white;
    width: 55%;
    margin: auto;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}
#image-center-elements>p{
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-size: 1.3rem;
}
#home-page-image-shop-buttons{
    position: absolute;
    top:63%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
#home-page-image-shop-buttons>button{
    background-color: white;
    width: 40%;
    height: 50px;
    color: black;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 50px;
    border: 0px;
}
#home-page-image-footer{
    position: absolute;
    top:95.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50px;
    margin: auto;
    padding: 5px;
    background-color: #2D2D2D;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 2px;
    font-size: 0.9rem;
}
#home-page-image-footer>div>h3{
    font-weight: bolder;
}