.container{
    width:70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px
}
.card{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body{
    text-align: center;
    margin: 20px;

}